* { 
    margin: 0; 
    padding: 0; 
    box-sizing: border-box; 
} 

html, body, div, p, img { 
    margin: 0; 
    padding: 0; 
    box-sizing: border-box; 
}

html, body { 
    height: 100%; 
    background-color:black;
}

#first_slide { 
    height: 80%; 
    text-align:center;
    background-image: url('wallp.jpg');
    width: 100%; 
}

#gradient_container {
    text-align: center;
    width: 100%;
    height: 80%;
    position: relative;
}

#gradient, #first_slide {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
}

#gradient {
    background: linear-gradient(to right, rgba(4, 176, 237, 0.45) , rgba(90, 94, 171, 0.45));
    z-index: 10;
}

#second_slide { 
    width: 50%; 
    height: 300px; 
    background-color: #04b0ed; 
    text-align:center;
    float:left;
}

#third_slide { 
    width: 50%; 
    height: 300px; 
    background-color: #5a5eab; 
    text-align:center;
    float:left;
}

#two_slides { 
    width: 100%; 
    height: 50%; 
    background-color: #000000; 
    float:left;
}

#fourth_slide { 
    margin-top: 300px;
    width: 100%;
    height: 39%;
    background-image: url('ban-img.png');
    background-repeat: no-repeat;
    background-size: 100% 100%;
    text-align: center;
}

.crutch {
    display: -moz-inline-box;
    display: inline-block;
    height: 100%;
    width: 0px;
    vertical-align: middle;
    zoom: 1;
}

.title {
    text-align: left;
    font-family: 'Poiret One', cursive;
    color: white;
    font-size: 60px;
    text-decoration: none;
    margin-left: 0.4%;
    margin-top: 0.4%;
}

.main_title_text {
    font-size: 250%;
    text-align: center;
    font-family: 'Raleway', serif;
    color: white;
    display: -moz-inline-box;
    display: inline-block;
    vertical-align: middle;
}

.main_text {
    font-size: 150%;
    text-align: center;
    font-family: 'Raleway', serif;
    color: white;
    display: -moz-inline-box;
    display: inline-block;
    vertical-align: middle;
}

.sign {
    color: white;
    bottom:0;
    left: 0;
    right: 0;
    text-align: center;
    position: fixed;
    font-size: 130%;
    font-family: 'Indie Flower', cursive;
    margin-bottom:0.2%;
}
