* { 
    margin: 0; 
    padding: 0; 
    box-sizing: border-box; 
} 

html, body, div, p, img { 
    margin: 0; 
    padding: 0; 
    box-sizing: border-box; 
}

html, body { 
    height: 100%; 
    background-color:white;
}

#first_slide { 
    height: 40vw;
    text-align:center;
    background-image: url('wallpaper.jpg');
    background-size: 100% 100%;
    width: 100%; 
}

#gradient_container {
    text-align: center;
    width: 100%;
    height: 40vw;
    position: relative;
}

#gradient, #first_slide {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
}

#gradient {
    background: linear-gradient(to right, rgba(4, 176, 237, 0.7) , rgba(90, 94, 171, 0.7));
    z-index: 10;
    width: 100%;
    height: 100%;
    text-align: center;
}

#second_slide { 
    width: 50%; 
    height: 15vw; 
    background-color: #04b0ed; 
    text-align:center;
    float:left;
}

#third_slide { 
    width: 50%; 
    height: 15vw; 
    background-color: #5a5eab; 
    text-align:center;
    float:left;
}

#two_slides { 
    width: 100%; 
    height: 15vw; 
    background-color: #000000; 
    float:left;
}

#fourth_slide { 
    margin-top: 15vw;
    width: 100%;
    height: 15vw;
    background-image: url('ban-img.png');
    background-repeat: no-repeat;
    background-size: 100% 100%;
    text-align: center;
}

#fifth_slide { 
    width: 100%;
    height: 10vw;
    background-color:white;
    color: #e0e0e1;
    text-align: center;
}

.crutch {
    display: -moz-inline-box;
    display: inline-block;
    height: 100%;
    width: 0px;
    vertical-align: middle;
    zoom: 1;
}

.title {
    font-family: 'Poiret One', cursive;
    color: white;
    font-size: 4vw;
    margin-bottom: 1%;
}

#first_slide_text_group {
    display: -moz-inline-box;
    display: inline-block;
    vertical-align: middle;
    width: 50%;
    zoom: 1;
}

.main_title_text {
    font-size: 1.6vw;
    text-align: center;
    font-family: 'Raleway', serif;
    color: white;
}

.main_text {
    font-size: 1.7vw;
    text-align: center;
    font-family: 'Raleway', serif;
    color: white;
    display: -moz-inline-box;
    display: inline-block;
    vertical-align: middle;
}

.last_text {
    font-size: 1.0vw;
    text-align: center;
    font-family: 'Raleway', serif;
    color: #e0e0e1;
    display: -moz-inline-box;
    display: inline-block;
    vertical-align: middle;
}

.sign {
    background: rgba(00, 00, 00, 0.2);
    color: white;
    bottom:0;
    left: 0;
    right: 0;
    text-align: center;
    position: fixed;
    font-size: 1.2vw;
    font-family: 'Indie Flower', cursive;
    margin-left: 36vw;
    margin-right: 36vw;
}
