html, body, body div, span, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, abbr, address, cite, code, del, dfn, em, img, ins, kbd, q, samp, small, strong, sub, sup, var, b, i, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, figure, footer, header, menu, nav, section, time, mark, audio, video, details, summary {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font-weight: normal;
  vertical-align: baseline;
  background: transparent;
}

article, aside, figure, footer, header, nav, section, details, summary {
  display: block;
}

html {
  box-sizing: border-box;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

img,
object,
embed {
  max-width: 100%;
}

html {
  overflow-y: scroll;
}

ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}

a {
  margin: 0;
  padding: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
}

del {
  text-decoration: line-through;
}

abbr[title], dfn[title] {
  border-bottom: 1px dotted #000;
  cursor: help;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

th {
  font-weight: bold;
  vertical-align: bottom;
}

td {
  font-weight: normal;
  vertical-align: top;
}

hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #ccc;
  margin: 1em 0;
  padding: 0;
}

input, select {
  vertical-align: middle;
}

pre {
  white-space: pre;
  white-space: pre-wrap;
  white-space: pre-line;
  word-wrap: break-word;
}

input[type="radio"] {
  vertical-align: text-bottom;
}

input[type="checkbox"] {
  vertical-align: bottom;
}

select, input, textarea {
  font: 99% sans-serif;
}

table {
  font-size: inherit;
  font: 100%;
}

small {
  font-size: 85%;
}

strong {
  font-weight: bold;
}

td, td img {
  vertical-align: top;
}

sub, sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
}

sup {
  top: -0.5em;
}

sub {
  bottom: -0.25em;
}

pre, code, kbd, samp {
  font-family: monospace, sans-serif;
}

label,
input[type=button],
input[type=submit],
input[type=file],
button {
  cursor: pointer;
}

button, input, select, textarea {
  margin: 0;
}

button,
input[type=button] {
  width: auto;
  overflow: visible;
}

@keyframes spin-around {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(359deg);
  }
}

html {
  background: #f5f7fa;
  font-size: 14px;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  min-width: 300px;
  overflow-x: hidden;
  overflow-y: scroll;
  text-rendering: optimizeLegibility;
}

body,
button,
input,
select,
textarea {
  font-family: "Helvetica Neue", "Helvetica", "Arial", sans-serif;
}

code,
pre {
  -moz-osx-font-smoothing: auto;
  -webkit-font-smoothing: auto;
  font-family: monospace;
  line-height: 1.25;
}

html {
    width:100%;
}

body {
  width:100%;
  color: #69707a;
  font-size: 1rem;
  line-height: 1.428571428571429;
}

a {
  color: #1fc8db;
  cursor: pointer;
  text-decoration: none;
  transition: none 86ms ease-out;
}

a:hover {
  color: #222324;
}

code {
  background: #f5f7fa;
  color: #ed6c63;
  font-size: 12px;
  font-weight: normal;
  padding: 1px 2px 2px;
}

hr {
  border-top-color: #d3d6db;
  margin: 20px 0;
}

img {
  max-height: 100%;
  max-width: 100%;
}

input[type="checkbox"],
input[type="radio"] {
  vertical-align: baseline;
}

small {
  font-size: 11px;
}

strong {
  color: #222324;
}

article,
aside,
figure,
footer,
header,
hgroup,
section {
  display: block;
}

pre {
  background: #f5f7fa;
  color: #69707a;
  white-space: pre;
  word-wrap: normal;
}

pre code {
  background: #f5f7fa;
  color: #69707a;
  display: block;
  overflow-x: auto;
  padding: 16px 20px;
}

table {
  width: 100%;
}

table th,
table td {
  text-align: left;
  vertical-align: top;
}

table th {
  color: #222324;
}


.column {
  flex: 1;
  padding: 10px;
}

.columns {
  margin-left: -10px;
  margin-right: -10px;
  margin-top: -10px;
}

.columns:last-child {
  margin-bottom: -10px;
}

.columns:not(:last-child) {
  margin-bottom: 10px;
}


.header.is-centered {
  justify-content: center;
}

.header.is-centered .header-left,
.header.is-centered .header-center,
.header.is-centered .header-right {
  justify-content: center;
}


.is-centered {
  text-align: center;
}

.control.is-grouped.is-centered {
  justify-content: center;
}

.tabs.is-centered a {
  padding: 5px 10px;
}

.tabs.is-centered li + li {
  margin-left: 0;
}

.tabs.is-centered ul {
  justify-content: center;
  text-align: center;
}

.tabs.is-boxed.is-centered li,
.tabs.is-boxed.is-centered li + li {
  margin: 0 2px;
}


.columns {
  margin-left: -10px;
  margin-right: -10px;
  margin-top: -10px;
}

.columns:last-child {
  margin-bottom: -10px;
}

.columns:not(:last-child) {
  margin-bottom: 10px;
}

.columns.is-mobile {
  display: flex;
}

@media screen and (min-width: 769px) {
  .columns:not(.is-desktop) {
    display: flex;
  }
}

@media screen and (min-width: 980px) {
  .columns.is-desktop {
    display: flex;
  }
}

.columns.is-gapless:not(:last-child) {
  margin: 0 0 20px;
}

.columns.is-gapless > .column {
  margin: 0;
  padding: 0;
}

.columns.is-multiline {
  flex-wrap: wrap;
}

.columns.is-vcentered {
  align-items: center;
}

@media screen and (min-width: 769px) {
  .columns.is-grid {
    flex-wrap: wrap;
  }
  .columns.is-grid > .column {
    flex-basis: 33.3333%;
    max-width: 33.3333%;
    padding: 10px;
    width: 33.3333%;
  }
  .columns.is-grid > .column + .column {
    margin-left: 0;
  }
}
html, body {
    height: 100%;
    margin: 0;
    padding: 0;
    border: 0;
}

#startButton {
    font-size:2.5em;
    font-family: 'Poiret One';
    width:4em;
    height:4em;
}

#text {
    color: black;
    width:25em;
    font-size:1.5em;
    font-family: 'Poiret One';
    border:10px solid yellowgreen;
}
#snakeColumn {
    margin-left:25em;
}

#snakeArea {
    border:10px solid yellowgreen;
    margin: 0;
    padding: 0;
}

columns {
    padding:0;
    margin:0;
}
